.tasks {
    list-style: none;
    margin: 0;
    padding: 0;
}

.tasks__item {
   display: grid; 
   grid-template-columns: auto 1fr auto;
   grid-gap: 20px;
   align-items: center;
   padding: 10px;
   border-bottom: 1px solid #ddd;
}

.tasks__item--hidden {
    display: none;
}

.tasks__button {
    width: 30px;
    height: 30px;
    padding: 0;
    border: none;
    color: white;
    transition: background 0.3s;
}

.tasks__button--toggleDone {
    background-color: hsl(120, 100%, 25%);
}

.tasks__button--toggleDone:hover {
    background-color: hsl(120, 100%, 35%);
}

.tasks__button--toggleDone:active {
    background-color: hsl(120, 100%, 45%); 
    border: 1px solid black;
}

.tasks__content {
    font-weight: normal;
    word-break: break-word;
}

.tasks__content--done {
    text-decoration: line-through;
    word-break: break-word;
}

.tasks__button--remuve {
    background-color: hsl(0, 100%, 40%);
}

.tasks__button--remuve:hover {
    background-color: hsl(0, 100%, 50%);
}

.tasks__button--remuve:active {
    background-color: hsl(0, 100%, 70%);
    border: 1px solid black;
}